@import 'vars';

body.home.about{

  .decoration{
    display: none;
  }

  .donors-partners{
    a{
      line-height: 1.1rem;
      color: $body-color;
      opacity: 0.7;
      transition: opacity .3s ease-in-out;
      font-weight: 600;
      text-align: center;
      display: block;
      &:hover{
        opacity: 1;
      }
      img{
        margin-bottom: 10px;
        max-height: 100px;
      }
    }
  }
}

@media (min-width: 769px){
  body.home.about{

    .content ul.contacts{
      columns: 2;
    }

    .decoration{
      display: inherit;
      background: url(asset_path('ink_whip.png')) no-repeat bottom right 10%;
      background-size: contain;
    }
  }
}

@media (min-width: 800px){
  body.home.about{

    .decoration{
      background-size: inherit;
    }
  }
}