@import 'vars';

body.home.index{
  main{
    padding-top: 0;
  }
  .intro{
    margin: -20px -20px 0;
    padding: 25px;
    background-color: $home-intro-color;
    .columns{
      // do this to get the second col to show on top of the first
      flex-direction: column-reverse;
      display: flex;
    }
    h1{
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 2.9rem;
    }
    h2{
      color: $grey;
      position: relative;
      font-weight: 500;
      &:after{
        content:"";
        position:absolute;
        left:0;
        bottom:-16px;
        margin:auto;
        background:$nav-start-active-color;
        height:3px;
        width: 293px;
      }
    }
    .decoration-oskar{
      text-align: center;
      img{
        max-height: 400px;
      }
    }
    .text{
      color: $grey;
      padding-top: 0.7rem;
      padding-bottom: 1.7rem;
    }
    .intro-mouse{
      margin-top: 50px;
      text-align: center;
      img{
        animation: mover 1.5s infinite alternate;
      }
      @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
      }
      .mouse-text{
        font-style: italic;
        font-size: 0.8947rem;
        line-height: 0.8947rem;
        color: $nav-start-active-color;
        margin-top: -5px;
        text-transform: lowercase;
      }
    }
  }

  .listings{
    background: none;
    // padding: 0 25px;
    .listing{
      .columns .column{
        max-width: 400px;
      }
    }
  }

  .stats{
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    ul{
      columns: 2;
      li{
        margin-bottom: 44px;
        .stats-count{
          margin-top: 27px;
          padding: 4px;
          color: #fff;
          background-color: $nav-start-active-color;
          font-size: 0.9474rem;
        }
      }
    }
  }

  .closing{
    margin: 0 -20px -20px;
    padding: 65px 0 85px;
    background-color: $home-intro-color;
    text-align: center;
    img{
      width: 217px;
    }
  }
}

@media (min-width: 769px){
  body.home.index{

    .intro{
      .columns{
        flex-direction: inherit;
        .decoration-oskar{
          img{
            max-height: inherit;
          }
        }
      }
    }

    .listings{
      margin-top: 0;
      padding-top: 500px;
      padding-bottom: 566px;
      background-image:
        url(asset_path('violin.png')),
        url(asset_path('mask_whip.png'));
      background-position:
        -52px 58px, /* first image */
        calc(100% + 10px) calc(100% - 100px); /* second image */
      background-repeat: no-repeat;
      background-size: contain;
    }

    .stats{
      margin-top: -335px;
      margin-bottom: 100px
    }

  }
}

@media (min-width: 800px){
  body.home.index{

    .listings{
      background-size: inherit;
    }
  }
}

@media (min-width: 1000px){
  body.home.index{

    .intro{
      padding: 50px 50px 40px;
      h1{
        font-size: 3rem;
        line-height: 3.5rem;
      }
    }
    .listings{
      // padding-left: 50px;
      // padding-right: 50px;
    }
    .stats{
      ul{
        columns: 4;
      }
    }
  }
}
@media (min-width: 1300px){
  body.home.index{

    .intro{
      padding: 100px 100px 40px;
      h1{
        font-size: 3.7rem;
        line-height: 4.3rem;
      }
    }
    .listings{
      // padding-left: 100px;
      // padding-right: 100px;
    }
  }
}

@media (min-width: 1364px){
  body.home.index{
    .intro, .closing{
      // stretch the background color out to the window sides
      margin-left: calc(-100vw / 2 + (1364px - 40px) / 2);
      margin-right: calc(-100vw / 2 + (1364px - 40px) / 2);
    }
  }
}