@import "vars";

body.home.news_item, body.home.research{

  .news-item-cover-image{
    width: 100%;
    text-align: center;
    img{
      max-height: calc(75vh - 20px - 3.25rem);
    }
  }

  .news-item-container{
    max-width: 844px;
    width: 100%;
    margin: 0 auto;
    line-height: 27px;

    h1{
      position: relative;
      font-size: 2.37rem;
      font-weight: 700;
      line-height: 3.16rem;

      &::after{
        content:"";
        position:absolute;
        left:0;
        bottom:-1rem;
        background:$header-line-color;
        height:1px;
        width: 260px;
      }
    }
    .news-item-date{
      font-style: italic;
      opacity: 0.7;
      padding: 1rem 0;
    }
    .news-item-content{
      margin-bottom: 36px;
      img{
        margin: 17px;
      }
    }
    .news-item-view-all{
      border-top: solid 1px $header-line-color;
      margin-top: 36px;
      padding-top: 49px;
      margin-bottom: 132px;
      text-align: center;
      a{
        width: 66%;
        display: inline-block;
      }
    }
  }
}
