<%
  image_url ||= nil
  alt ||= nil
%>
<div class="modal modal-meta-image">
  <div class="modal-background"></div>
  <div class="modal-content image">
    <%= image_tag image_url, alt: alt %>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>