<h1 class="title is-3"><%= title t('labels.illustrators') %></h1>

<% if @illustrators.present? %>

  <div class="columns is-multiline">
    <% @illustrators.each do |illustrator| %>
      <div class="column is-3">
        <%= render partial: 'shared/card_meta_hover', locals: {
              title: illustrator.name,
              link_path: illustrator_path(illustrator),
              cover_image_path: (illustrator.image_stored? ? illustrator.image.thumb('400x400#').url : nil),
              dates: [illustrator.date_birth, illustrator.date_death]
          } %>
      </div>
    <% end %>
  </div>

<% else %>

  <p><%= t('messages.no_data') %></p>

<% end %>