<h1 class="title is-3"><%= title t('labels.people') %></h1>

<% if @people.present? %>

  <div class="columns is-multiline">
    <% @people.each do |person| %>
      <div class="column is-3">
        <%= render partial: 'shared/card_meta_hover', locals: {
              title: person.name,
              link_path: person_path(person),
              cover_image_path: person.image.thumb('400x400#').url,
              dates: person.has_dates? ? [person.date_birth, person.date_death] : nil,
              roles: person.unique_role_names.join(', ')
          } %>
      </div>
    <% end %>
  </div>

<% else %>

  <p><%= t('messages.no_data') %></p>

<% end %>