<% pub = Publication %>

<h1 class="title is-3"><%= title t('labels.publications') %></h1>

<% if @publications.present? %>

  <div class="columns is-multiline">
    <% @publications.each do |publication| %>
      <div class="column is-3">
        <%= render partial: 'shared/card_meta_down', locals: {
              title: publication.title,
              summary: publication.about,
              link_path: source_path(publication),
              cover_image_path: publication.cover_image.thumb('400x204#').url,
              type: pub.human_enum_name(:publication_type, publication.publication_type)
          } %>
      </div>
    <% end %>
  </div>

<% else %>

  <p><%= t('messages.no_data') %></p>

<% end %>