@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProLight';
  src: font-url('SourceSansPro-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProBold';
  src: font-url('SourceSansPro-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProSemibold';
  src: font-url('SourceSansPro-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProExtraLight';
  src: font-url('SourceSansPro-ExtraLight.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProBlack';
  src: font-url('SourceSansPro-Black.ttf') format("truetype");
}
