/*
  *= require rails_admin/ra.globalize_tabs
*/


/* set defualt font */
body.rails_admin{
  font-family: 'SourceSansPro';
}


body.rails_admin .form-horizontal .tab-content .tab-pane{
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.nav-tabs > li > a,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  outline: none;
}

/* form with globalize tabs and is_public field to indciate if validation errors occur */
.nav-tabs.globalize-tabs > li > a span.required-for-public-validation-indicator,
.has_many_association_type .nav-tabs > li > a span.required-for-public-validation-indicator{
  display: block;
  color: $error-color;
  font-weight: bold;
  margin-top: -8px;
  line-height: 10px;
}

body.rails_admin .form-horizontal .tab-content .tab-pane.invalid{
  border-left: 5px solid $error-color !important;
}


/* is public status styling in list/show views */
ul.is-public-status li{
  color: #fff;
  padding: 3px 6px;
}
ul.is-public-status li.not-public{
  background-color: #f0ad4e;
}
ul.is-public-status li.public{
  background-color: #5cb85c;
}

/*  set width for ckeditors */
.cke{
  min-width: 500px;
  max-width: 75%;
}

/* tab translation label styling */
.globalize_tabs_type.translations_field > label{
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
}
.has_many_association_type .globalize_tabs_type.translations_field > label,
.has_and_belongs_to_many_association_type .globalize_tabs_type.translations_field > label{
  margin-top: 15px;
}

.has_many_association_type .nav-tabs.globalize-tabs,
.has_and_belongs_to_many_association_type .nav-tabs.globalize-tabs{
  display: inherit;
  margin-top: 20px !important;
}