/*
  *= require rails_admin/ra.globalize_tabs
*/

@import 'variables';

/* set defualt font */
body.rails_admin{
  font-family: 'SourceSansPro';
}


body.rails_admin .form-horizontal .tab-content .tab-pane{
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.nav-tabs > li > a,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  outline: none;
}

/* form with globalize tabs and is_public field to indciate if validation errors occur */
.nav-tabs.globalize-tabs > li > a span.required-for-public-validation-indicator,
.has_many_association_type .nav-tabs > li > a span.required-for-public-validation-indicator{
  display: block;
  color: $error-color;
  font-weight: bold;
  margin-top: -8px;
  line-height: 10px;
}

body.rails_admin .form-horizontal .tab-content .tab-pane.invalid{
  border-left: 5px solid $error-color !important;
}


/* is public status styling in list/show views */
ul.is-public-status li{
  color: #fff;
  padding: 3px 6px;
}
ul.is-public-status li.not-public{
  background-color: $translation-not-public;
}
ul.is-public-status li.public{
  background-color: $translation-public;
}

/*  set width for ckeditors */
.cke{
  min-width: 450px;
  max-width: 75%;
}

/* tab translation label styling */
.globalize_tabs_type.translations_field > label{
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
}
.has_many_association_type .globalize_tabs_type.translations_field > label,
.has_and_belongs_to_many_association_type .globalize_tabs_type.translations_field > label{
  margin-top: 15px;
}

.has_many_association_type .nav-tabs.globalize-tabs,
.has_and_belongs_to_many_association_type .nav-tabs.globalize-tabs{
  display: inherit;
  margin-top: 20px !important;
}

/* nested forms - indent the nested part so it is easy to see where it ends */
.has_many_association_type .tab-content .fields.tab-pane{
  margin-left: 0;
}
@media(min-width: 768px){
  .has_many_association_type .tab-content .fields.tab-pane{
    margin-left: 16.6667%;
  }
}


/* nested forms with sorting */
.tab-content.sort-items{
  margin-bottom: 25px;
}
.tab-content.sort-items > .fields.tab-pane{
  display: block !important;
  margin-bottom: 10px !important;
}

.tab-content.sort-items span.move-item{
  display: block;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 50px;
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
  cursor: move;
}
body.rails_admin .form-horizontal .tab-content.sort-items .tab-pane:hover > span.move-item {
  opacity: 1;
}
.tab-content.sort-items input[type="file"]{
  display: inline-block !important;
  margin-left: 20px;
}

/* style version in the sidebar */
body.rails_admin .sidebar-nav > .nav-stacked.changelog > li > a{
  color: $brand-info;
  padding-top: 12px;
}