<footer class="footer">
  <div class="columns">
    <div class="column is-9">
      <%= t('labels.contact') %>
      oskar@schmerling.org
    </div>
    <div class="column is-2">
      <%= t('labels.followus') %>
    </div>
    <div class="column is-1">
      &copy; <%= DateTime.now.year %>
    </div>
  </div>
</footer>