<%
  id ||= nil
  is_desktop_hidden ||= nil
  cls = is_desktop_hidden == true ? 'is-hidden-desktop ' : ''
%>

<div class="navbar-item search <%= cls %>" id="<%= id %>">
  <form action="<%= images_path %>">
    <div class="control has-icons-right">
      <input type="text" name="q"/>
      <span class="icon is-right">
        <i class="search"></i>
      </span>
    </div>
  </form>
</div>
