@import 'vars';
@import 'bulma';

.card.card-meta-down{
  height: 100%;
  box-shadow: none;
  &:hover{
    box-shadow: -5px 7px 12px rgba(0, 0, 0, 0.1);
  }
  .card-content{
    padding: 0.8rem;
    font-size: 0.8rem;

    .card-title{
      color: $body-color;
      font-size: 1rem;
      line-height: 1.1rem;
      margin-bottom: 0.75rem;
    }

    .content{
      color: $text-light;
      margin-top: 0.6315rem;
    }
  }
}