@import 'vars';
@import 'bulma';

.card.card-meta-hover{
  position: relative;
  height: 100%;
  box-shadow: none;
  .card-content{
    position: absolute;
    top: 0;
    left: 0;
    margin: 7%;
    opacity: 0;
    width: 86%;
    height: 86%;
    transition: all .15s ease-in;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    .card-title{
      color: $body-color;
      font-size: 1rem;
      line-height: 1.1rem;
      margin-bottom: 0.75rem;
    }
    .content{
      color: $text-light;
    }
  }
  .card-image:hover + .card-content,
  .card-content:hover{
    opacity: 1;
  }
}