@import 'vars';

.filters{
  .filters-button {
    button{
      letter-spacing: 3.4px;
      background-color: $nav-start-active-color;
      text-transform: lowercase;
      opacity: 0.7;
      color: #fff;
      padding: 8px 25px;
      border-radius: 25px;
      white-space: nowrap;
      &:hover{
        opacity: 1;
        color: #fff;
      }
    }

    // .icon{
    //   width: 14px !important;
    //   height: 24px !important;
    //   margin-right: 0;
    //   margin-left: 0;
    //   &:hover{
    //     cursor: pointer;
    //   }

    //   i.down-arrow{
    //     display: inline-block;
    //     width: 14px;
    //     height: 7px;
    //     vertical-align: middle;
    //     background: url(asset_path('down_arrow_white.svg')) no-repeat 0 top;
    //     background-size: cover;
    //     margin-top: 11px;
    //   }
    // }

  }

  .filter-label{
    label{
      font-weight: 600;
      font-size: 1.052rem;
      color: $grey-dark;
      display: block;
      opacity: 0.7;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .filter-search{
    position: relative;
    input{
      border: none;
      border-bottom: solid 1px $navbar-burger-color;
      background-color: $body-background-color;
      padding-right: 34px;
      width: 100%;
      font-size: 1rem;
      font-weight: 400;
      color: $header-line-color;
      opacity: 0.7;
    }
    .clear-search{
      font-weight: 700;
      position: absolute;
      right: 20px;
      top: 0;
      width: 12px;
      cursor: pointer;
      color: $grey-dark;
      display:none;
      &.is-active{
        display: inherit;
      }
    }
    .icon{
      width: 18px !important;
      height: 18px !important;

      i.search{
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        background: url(asset_path('search.svg')) no-repeat 0 top;
        background-size: cover;
      }
    }
  }
  .filter-date{
    width: 100%;
    .dropdown-trigger{
      width: 100%;
      opacity: 0.7;
      .button{
        background-color: $body-background-color;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        color: $header-line-color;
        border: none;
        border-bottom: solid 1px $navbar-burger-color;
        justify-content: left;
        text-align: left;
        padding: 0 20px 0 0;
        height: inherit;
        border-radius: inherit;
        &:focus{
          box-shadow: inherit;
        }
        .dropdown-trigger-content{
          width: 100%;
          .clear-date{
            font-weight: 700;
          }
        }
        .icon{
          width: 14px !important;
          height: 24px !important;
          margin-right: 0;
          margin-left: 0;
          &:hover{
            cursor: pointer;
          }

          i.down-arrow{
            display: inline-block;
            width: 14px;
            height: 7px;
            vertical-align: middle;
            background: url(asset_path('down_arrow.svg')) no-repeat 0 top;
            background-size: cover;
            margin-top: 11px;
          }
        }
      }
    }
    .dropdown-menu{
      width: 275px;
      .dropdown-item.calendar{
        display: block;
      }
      .dropdown-item.action-buttons{
        button{
          letter-spacing: 1.7px;
          background-color: $nav-start-active-color;
          text-transform: lowercase;
          opacity: 0.7;
          color: #fff;
          padding: 8px 12px;
          border-radius: 12px;
          white-space: nowrap;
          &:hover{
            opacity: 1;
            color: #fff;
          }
          &.button-close{
            margin-left: .25rem;
          }
          &.button-clear{
            background-color: $body-background-color;
            color: $header-line-color;
          }
        }
      }
    }
    &.is-active{
      .dropdown-trigger .button .icon i.down-arrow{
        transform: rotate(180deg);
      }
    }
  }
  .filter-select{
    .select2{
      .selection{
        .select2-selection{
          border: none;
          border-bottom: solid 1px $navbar-burger-color;
          background-color: $body-background-color;
          border-radius: inherit;
          opacity: 0.7;
          .select2-selection__rendered{
            font-size: 1rem;
            font-weight: 400;
            color: $header-line-color;
          }
          .select2-selection__arrow{
            // display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 600px){
  .filters{
    .filter-date{
      .dropdown-menu{
        width: 545px;
        .dropdown-item.calendar{
          display: inline-block;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1087px){
  .filters{
    .filter-date{
      .dropdown-menu{
        width: 545px;
        left: inherit;
        right: 0;
      }
    }
  }
}

@media (min-width: 1088px){
  .filters{
    .filter-date{
      .dropdown-menu{
        width: 650px;
        left: 0;
        right: inherit;
      }
    }
  }
}







// style the popup select filters
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: $nav-start-active-color transparent transparent transparent;
  border-width: 8.0px 7.0px 0 7.0px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-color: transparent transparent $nav-start-active-color transparent;
  border-width: 0 7.0px 8.0px 7.0px;
}

.select2-container{
  .select2-dropdown{
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: $body-background-color;
    .select2-search{
      .select2-search__field{
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.7;
        color: $header-line-color;
        background-color: $body-background-color;
      }
    }
    .select2-results{
      .select2-results__options{
        .select2-results__option{
          font-size: 1rem;
          font-weight: 400;
          color: $header-line-color;
          opacity: 0.7;
          &.select2-results__option--highlighted[aria-selected]{
            background: none;
            color: $header-line-color;
            opacity: 1.0;
            font-weight: 500;
          }
          &[aria-selected="true"],
          &.select2-results__option--highlighted[aria-selected="true"]{
            color: #fff;
            background-color: $header-line-color;
            opacity: 0.4;
          }
        }
      }
    }
  }
}


// datepicker styles
.ui-state-active, .ui-widget-content .ui-state-active{
  background: $nav-start-active-color;
  border-color: $grey-dark;
}