@import 'vars';

.listing{
  margin-bottom: 20px;
  // padding: 0 40px;

  h2{
    position: relative;
    margin-top: 20px;
    &:before{
      content:"";
      position:absolute;
      left:0;
      top:-13px;
      margin:auto;
      background:$header-line-color;
      height:1px;
      width: 73%;
    }
  }
}

@media (min-width: 769px){
  .listing{
    h2{
      margin-top: 130px;
    }
  }
}

@media (min-width: 1000px){
  .listing{
    margin-bottom: 60px;
  }
}

