@import "bulma";
@import "vars";

body.meta-details-container{
  $column-gap: .4211rem;

  .meta-link{
    opacity: 0.7;
    background-color: #dcdcdc;
    border-radius: 3px;
    padding: 5px 9px;
    font-weight: 600;
    color: $grey;
    &:hover{
      opacity: 1;
    }
  }

  .meta-file{
    margin-top: 31px;
    .meta-link-file{
      opacity: 0.7;
      background-color: #ffffff;
      border-radius: 19px;
      border: solid 1px $footer-color;
      padding: 6px 27px;
      font-weight: 500;
      color: $nav-start-active-color;
      &:hover{
        opacity: 1;
      }
    }
  }

  ul.indent-list{
    margin-left: 1rem;
  }

  .meta-details{
    margin-bottom: 1.5rem;

    .meta-image{
      & > a{
        position: relative;
        outline: none;
        &:after{
          position: absolute;
          bottom: 21px;
          right: 15px;
          width: 41px;
          height: 41px;
          background: url(asset_path('view_bigger_img.svg')) center center no-repeat #fff;
          border-radius: 50%;
          opacity: 0.8;
          content: '';
        }
      }
      .annotations-more{
        margin-top: 1.26rem;
      }
    }
    .meta-items{
      .title{

      }
      .meta-items-details{
        ul.meta-items-list{
          margin-bottom: 22px;
          li{
            > ul li{
              display: inline-block;
              margin-bottom: 10px;
              margin-right: 3px;
            }
          }
        }
        .meta-text{
          overflow-y: hidden;
        }
        .meta-text-more{
          margin-top: 1rem;
          display:none;
          &.is-active{
            display: inherit;
          }
        }
      }
    }

    &.landscape{
      .meta-items{
        .meta-items-details{
          .meta-text{
            min-height: 200px;
          }
        }
      }
    }
  }
}

@media (min-width: 615px){
  body.meta-details-container{
    .meta-details{
      margin-bottom: 3rem;

      &.landscape{
        display: block;

        .meta-image{
          text-align: center;
        }
        .meta-items{
          .title{

          }
          .meta-items-details{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            ul.meta-items-list{
              flex: 1;
              li{

              }
            }
            .meta-text-container{
              flex: 2;

            }
          }
        }
      }


      &.portrait{
        .meta-image{
        }
        .meta-items{
          .title{

          }
          .meta-items-details{
            display: block;
            ul.meta-items-list{
              margin-bottom: 37px;
              li{

              }
            }
            .meta-text-container{
            }
          }
        }
      }

    }
  }

}

