@import 'vars';

.modal{
  &.modal-meta-text{
    .modal-content{
      background-color: #efefef;
    }
  }
  .modal-content{
    padding: 1.5rem;
    margin: 2rem 0;
    background: #fff;
    &.image{
      background: transparent;
      text-align: center;
      width: auto;
      max-width: inherit;
      max-height: inherit;
    }
  }

  &.modal-annotations{
    .modal-content{
      width: 100%;
      color: $grey;

      .annotation-marker{
        width: 30px;
        height: 31px;
        border-radius: 50%;
        background: $nav-start-active-color;
        -webkit-transition: display .15s ease;
        transition: display .15s ease;
        display: inherit;
      }
      .annotation-marker .marker-number{
        color: #fff;
        text-align: center;
        margin-top: 2px;
        font-size: 1.16rem;
        font-weight: 600;
        line-height: 1.31rem;
      }

      .annotation-markers{
        vertical-align: top;
        margin: 0 15px 25px;
        position: relative;
        z-index: 200;
        .annotation_help{
          font-size: 1.05rem;
          color: $grey;
          margin-bottom:0;
        }
        img{
          margin: 0;
          max-width: 100%;
        }
        .annotation-marker{
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
        }
      }

      .annotation-list{
        list-style-type:none;
        margin-top: 0.75rem;
        overflow-y: auto;
        li{
          line-height: 1.42rem;
          margin-top: 0.8rem;
          margin-bottom: 0;
          &:first-of-type{
            margin-top: 0;
          }
          & > div{
            padding-top: 0;
            padding-bottom: 0;
          }
          .annotation-marker{
            display: inline-block;
          }
          .annotation-text{
            &.is-active{
              background-color: #ffe0d9;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 769px){
  .modal{
    &.modal-annotations{
      .modal-content{
        .annotation-markers{
          // margin: inherit;
        }

        .annotation-list{
          li{
            &:first-of-type{
              margin-top: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1364px){
  .modal{
    &.modal-annotations{
      .modal-content{
        width: 1364px;
      }
    }
  }
}