@import 'vars';

// is-active is used on mobile view to determine whether
// menu is showing

.navbar, .navbar-menu, .navbar-start, .navbar-end{
  align-items: center !important;
}

.navbar{
  min-height: 3.63rem !important;
  .navbar-brand{
    .navbar-item {
      padding-left: 1.5rem;
      svg{
        max-height: 31px;
        width: 31px;
        height: 31px;
        use{
          transition: all .3s ease-in-out;
          fill: #232323;
        }
        &:hover{
          use{
            fill: $nav-start-active-color;
          }
        }
      }
    }
  }

  .navbar-container{
    width: 100%;
  }
  // override the defaults to make the x bigger
  .navbar-burger {
    margin-right: 1.5rem;
    span{
      height: 2px;
      width: 20px;
    }
    &.is-active span{
      background-color: $nav-start-active-color;
      height: 4px;
    }
  }
  .navbar-item.search{
    padding: 0.5rem 1.5rem;
    input{
      border: none;
      border-bottom: solid 1px $navbar-burger-color;
      background-color: $body-background-color;
      padding-right: 20px;
    }
    .icon{
      width: 18px;
      height: 18px;

      i.search{
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        background: url(asset_path('search.svg')) no-repeat 0 top;
        background-size: cover;
      }
    }
  }

  .navbar-menu{
    background-color: $home-intro-color;
    .navbar-start{
      .navbar-item{
        position: relative;
        font-weight: 700;
        font-size: 1.05rem;
        color: $nav-start-color;
        &:after{
          content:"";
          position:absolute;
          left:0;
          bottom:0;
          right:0;
          margin:auto;
          height:7px;
          transition: all .3s ease-in-out;
        }
        &:hover{
          background-color: $home-intro-color;
        }
        &.current-page:after, &:hover:after{
          background:$nav-start-active-color;
        }
      }

    }
    .navbar-end{
      .navbar-item.locales{
        font-weight: 700;
        font-size: 0.9474rem;
        text-transform: uppercase;
        color: $nav-end-color;
        .navbar-link{
          padding: 0;
          span{
            padding: 0 5px;
          }
        }
        .navbar-link span, .navbar-item.current-page, .navbar-item:hover{
          background-color: $nav-end-color;
          color: #fff;
        }
        .navbar-item{
          color: $nav-end-color;

        }
        &.has-dropdown:hover{
          background-color: transparent;
          .navbar-dropdown{
            background-color: transparent;
            border: none;
            box-shadow: none;
          }
        }
      }
    }
    &.is-active{
      position: relative;
      .navbar-start{
        margin-top: 55px;
        .navbar-item{
          text-align: center;
          max-width: 200px;
          margin: 0 auto;
        }
      }
      .navbar-end{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        .navbar-item{
          display: inline-block;
          white-space: nowrap;
          &.search{
            display: none;
          }
          &.locales{
            .navbar-link{
              display: none;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 1088px){
  .navbar{
    min-height: 5.1rem !important;
    .navbar-container{
      display: flex;
      .navbar-brand{
        width: percentage(1/12);
        .navbar-item {
          padding-left: 0.75rem;
          svg{
            max-height: 70px;
            width: 70px;
            height: 70px;
          }
        }
      }
      .navbar-menu{
        background-color: inherit;
        .navbar-start{
          .navbar-item{
            &:hover{
              background-color: inherit;
            }
          }
        }
        .navbar-end{
          margin-right: 0.75rem;
          .navbar-item{
            &.locales.has-dropdown{
              .navbar-dropdown{
                transition: all .3s ease-in-out;
                display:block;
                opacity: 0;
                .navbar-item{
                  padding: 0 5px;
                  margin-top: 7px;
                  &.current-page{
                    display: none;
                  }
                }
              }
              &:hover{
                .navbar-dropdown{
                  opacity: 1;
                  .navbar-item{
                    padding: 0 5px;
                    margin-top: 7px;
                  }
                }
              }
            }
          }
        }
        &.is-active{
          .navbar-start{
            .navbar-item{
              max-width: inherit;
              margin: inherit;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1364px){
  .navbar{
    .navbar-container{
      width: 1364px;
      margin: 0 auto;
    }
  }
}
.navbar-link:not(.is-arrowless):after{
  all: unset !important;
}

body.home.index {
  .navbar{
    background-color: $home-intro-color;
    .navbar-item.search{
      input{
        background-color: $home-intro-color;
      }
    }

    .navbar-menu{
      background-color: $home-intro-color;
      box-shadow: none;
      .navbar-start{
        .navbar-item:hover{
          background-color: $home-intro-color;
        }
      }
      .navbar-end .navbar-item.locales.has-dropdown:hover{
        background-color: $home-intro-color;
        .navbar-link{
          background-color: $home-intro-color;
        }
      }
    }
  }
}