@import "vars";
@import "slick";


$slideshow-base-width: 1324px;
$slideshow-base-height: 632px;
$slideshow-base-ratio: #{$slideshow-base-height / $slideshow-base-width};
$slideshow-slide-width: #{calc(100vw - 40px)};

.slideshow-highlights-slick{
  background: transparent;
  margin-top: 51px;
  margin-bottom: 68px;
  position: relative;

  .slideshow-slide{
    width: 100%;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    position: relative;

    .slideshow-slide-image{
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      vertical-align: top;
    }
    .slideshow-slide-text{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      .slideshow-slide-title {
        margin: 29px 0 0px;
        width: 100%;
        a{
          color: $grey-dark;
          font-size: 1.57rem;
          font-weight: 600;
          line-height: 1.57rem;
        }
      }
      .slideshow-slide-summary{
        margin-top: 22px;
        width: 100%;
        background-color: $nav-start-active-color;
        color: #fff;
        font-size: 1.21rem;
        font-weight: 300;
        line-height: 1.42rem;
        padding: 15px 20px;
        p{
          margin-bottom: 0;
        }
      }
    }
  }

  .slick-dots
  {
    position: absolute;
    bottom: -20px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: right;
  }
  .slick-dots li
  {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
  }
  .slick-dots li button
  {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    // padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus
  {
    outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
    opacity: 1;
  }
  .slick-dots li button:before
  {
    font-size: 40px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    color: #444444;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before
  {
    color: $nav-start-active-color;
  }

}

@media (min-width: 769px){
  body.home.index{

    .slideshow-highlights-slick + .listings{
      margin-top: -115px;
    }
  }
}

@media (min-width: 900px){
  body.home.index{

    .slideshow-highlights-slick{
      margin-top: 64px;
      margin-bottom: 0;

      .slideshow-slide{
        width: $slideshow-slide-width !important;
        height: calc(#{$slideshow-slide-width} * #{$slideshow-base-ratio}) !important;
        max-width: $slideshow-base-width;
        max-height: $slideshow-base-height;

        .slideshow-slide-image{
          position: absolute;
          top: 0;
          right: 0;
          width: 66%;
        }
        .slideshow-slide-text{
          position: absolute;
          top: calc(50% - 16px);
          left: 0;
          width: 50%;
          .slideshow-slide-title {
            width: 66%;
            margin: 0;
          }
          .slideshow-slide-summary{
            margin-top: 22px;
            width: 100%;
            padding: 28px 23px 23px;
          }
        }
      }
    }
  }
}

// calculations to make the news slideshow scale with the screen
$slideshow-base-width: 1200px;
$slideshow-img-margin-percent: 47px / $slideshow-base-width;
$slideshow-img-width-percent: 612px / $slideshow-base-width;
$slideshow-arrow-width-percent: 31px / $slideshow-base-width;
$slideshow-arrow-height-percent: 47px / $slideshow-base-width;
$slideshow-half-img-width: #{100vw * $slideshow-img-width-percent / 2};
$slideshow-double-img-margin: #{100vw * $slideshow-img-margin-percent * 2};
$slideshow-arrow_width: #{100vw * $slideshow-arrow-width-percent};
.slideshow-news-item-slick{
  position: relative;
  width:100vw;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 1rem;
  padding: 51px 16px 24px !important;
  background-color: $header-line-color;

  .slideshow-slide{
    margin: 0 calc(100vw * #{$slideshow-img-margin-percent} );
    width: calc(100vw * #{$slideshow-img-width-percent} ) !important;
    // max-width: $slideshow-img-max-width !important;

    img{
      opacity: 0.5;
      transition: opacity 0.5s ease;
    }
    .image-caption{
      color: #fff;
      font-size: 0.9rem;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
    &.slick-current{
      img{
        opacity: 1;
      }
      .image-caption{
        opacity: 1;
      }
    }
  }

  .slick-prev,
  .slick-next
  {
    position: absolute;
    top: 50%;
    display: block;
    width: calc(100vw * #{$slideshow-arrow-width-percent});
    height: calc(100vw * #{$slideshow-arrow-height-percent});
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
    img{
      outline: none;
    }
  }
  .slick-prev
  {
    left: calc(50vw - #{$slideshow-half-img-width} - #{$slideshow-double-img-margin} + #{$slideshow-arrow_width});
  }
  .slick-next
  {
    left: calc(50vw + #{$slideshow-half-img-width} + #{$slideshow-arrow_width});
    img{
      transform: rotate(180deg);
    }
  }
}
