@import "vars";
@import "slick";

$slideshow-width: 844px;
$slideshow-height: 581px;

.slideshow-news-item-slick{
  position: relative;
  width:100vw;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 1rem;
  padding: 51px 16px 24px !important;
  background-color: $header-line-color;

  .slideshow-slide{
    margin: 0 63px;
    width: 812px !important;
    img{
      opacity: 0.5;
      transition: opacity 0.5s ease;
    }
    .image-caption{
      color: #fff;
      font-size: 0.9rem;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
    &.slick-current{
      img{
        opacity: 1;
      }
      .image-caption{
        opacity: 1;
      }
    }
  }

  .slick-prev,
  .slick-next
  {
    position: absolute;
    top: 50%;
    display: block;
    width: 42px;
    height: 64px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
    img{
      outline: none;
    }
  }
  .slick-prev
  {
    left: calc(50vw - 406px - 126px + 42px);
  }
  .slick-next
  {
    left: calc(50vw + 406px + 42px);
    img{
      transform: rotate(180deg);
    }
  }
}

