/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= stub 'admin'
 *= require_self
 */

@import "vars";

@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-ExtraLight.otf') format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-SemiBold.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Italic.otf') format("opentype");
  font-weight: 400;
  font-style: italic;
}


@import 'vars';
@import "bulma";

html{
  overflow-y: auto;
}

body{
  background-color: $body-background-color;
}

p{
  margin-bottom: 1rem;
}

ul.has-no-bullets{
  list-style: none;
}

a.read-more{
  letter-spacing: 3.4px;
  background-color: $nav-start-active-color;
  text-transform: lowercase;
  opacity: 0.7;
  color: #fff;
  padding: 8px 25px;
  border-radius: 25px;
  &:hover{
    opacity: 1;
    color: #fff;
  }
}

@media (min-width: 769px){
  body{
    background-image: url(asset_path('background_dashed_line.png'));
    background-repeat: repeat;
    background-position-x: 18%;
  }
}

@media (max-width: 1088px){
  html{
    font-size: 16px;
  }
  body{
    line-height: 23px;
  }

  h1.title.is-3{
    font-size: 1.375rem !important;
    line-height: 1.6875rem !important;
  }
}