/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'SourceSansPro';
  src: url('/assets/fonts/SourceSansPro-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProLight';
  src: url('/assets/fonts/SourceSansPro-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProBold';
  src: url('/assets/fonts/SourceSansPro-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProSemibold';
  src: url('/assets/fonts/SourceSansPro-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProExtraLight';
  src: url('/assets/fonts/SourceSansPro-ExtraLight.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSansProBlack';
  src: url('/assets/fonts/SourceSansPro-Black.ttf') format("truetype");
}

