// bulma variables
$family-primary: 'Montserrat';
$body-background-color: #f8f9fa;
$navbar-background-color: $body-background-color;
$footer-background-color: #292929;
$footer-padding: 1rem;

// navbar
$nav-start-color: #292929;
$nav-start-active-color: #ed714f;
$nav-end-color: #ac8e7a;

// footer
$footer-color: #d5d5d5;
