@import "bulma";

// bulma variables
$grey-dark: #292929;
$grey: #5e5e5e;
$family-primary: 'Montserrat';
$body-background-color: #f8f9fa;
$body-color: $grey-dark;
$body-size: 19px;
$title-color: $body-color;
$subtitle-color: $body-color;
$navbar-background-color: $body-background-color;
$footer-background-color: #292929;
$footer-padding: 1rem;
$home-intro-color: #f2eee1;

// navbar
$nav-start-color: $body-color;
$nav-start-active-color: #ed714f;
$nav-end-color: #ac8e7a;
$navbar-burger-color: #5e5e5e;

// footer
$footer-color: #d5d5d5;

// header with line above
$header-line-color: #282725;

// cards
$card-color: $body-color;
$card-background-color: #eeeeee;